@import './vuetify.scss';

:root {
    --font-monospace: "SF Mono", SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
    --font-montserrat: 'Montserrat', sans-serif;
}

* {
    font-size: 14px;
}

.v-application {
    // font-family: var(--font-monospace);
    font-family: var(--font-montserrat);
    
    .text-montserrat {
        font-family: var(--font-montserrat);
    }
}
