@import './vuetify.scss';

:root {
    --font-monospace: "SF Mono", SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

* {
    font-size: 14px;
}

.v-application {
    font-family: var(--font-monospace);
}
