.content-md {
  * {
    margin-bottom: 0.25rem;
  }

  p {
    margin-bottom: 0.5rem;
  }

  h1,h2,h3,h4,h5,h6 {
    margin: 1rem 0;
  }

  ul {
    padding-left: 1.2rem;
  }
  
  li {
    list-style: disc;
  }
}